
@font-face {
    font-family: 'Guava-Candy';
    src: url('fonts/Guava-Candy.ttf') format('truetype');
    /* Include additional formats if you have them */
}

body {
    background: linear-gradient(to bottom, #ee7ed6, #ffffff);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;

}

.title {
    font-family: 'Guava-Candy', sans-serif;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    -webkit-text-fill-color: #f9a856;
    -webkit-text-stroke: 1px white;
}


.container {
    width: 40%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #91e16a;
    border-radius: 10px;
    color: #fff;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);

}

#back-button 
 {
    cursor: pointer;

    margin-top: 67px;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px 45px; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: rgb(0, 0, 0);
    background: #b5ecfe;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}



#back-button:hover {
    transform: skewX(-15deg) scale(1.2);
}


