body {
    background:  #202A44E6;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    color: white;
}

.controls-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;

}

.title {
    font-family: 'Games', sans-serif;
    font-size: 105px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    -webkit-text-fill-color: #ffffff;
    padding: 0;
    margin-bottom: 0; /* Add this line to remove margin at the bottom */

}



.container {
    width: 40%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    /*background: #91e16a;*/
    /*border-radius: 10px;*/
    /*color: #fff;*/
    /*box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);*/

}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(32, 42, 68, 0.9);
}

th, td {
    padding: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    font-size: 18px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

th {
    background-color: rgba(32, 42, 68, 0.9);
    -webkit-text-fill-color:  rgb(255, 210, 66, 0.8);
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Games', sans-serif;
}

strong {
    font-weight: bold;
}
#back-button
{
    cursor: pointer;

    margin-top: 67px;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: rgb(255, 210, 66, 0.8);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    -webkit-text-fill-color: #ffffff;

}



#back-button:hover {
    transform: skewX(-15deg) scale(1.2);
}