@font-face {
    font-family: 'Guava-Candy';
    src: url('fonts/Guava-Candy.ttf') format('truetype');
    /* Include additional formats if you have them */
}

body {
    background: linear-gradient(to bottom, #ee7ed6, #ffffff);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.title {
    font-family: 'Guava-Candy', sans-serif;
    font-size: 80px;
    margin-bottom: 100px; /* Adjusted margin to move the title up */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    -webkit-text-fill-color: #f9a856;
    -webkit-text-stroke: 1px white;
}


.level-button {
    width: 200px;
    height: 200px; /* Adjusted height to create a square shape */
    padding: 20px; /* Increased padding for a square shape */
    margin: 20px;
    text-decoration: none;
    font-family: 'Guava-Candy', sans-serif;
    font-size: 40px;
    color: rgb(250, 247, 66);
    background: #91e16a;
    border: none;
    border-radius: 10px; /* Adjusted border-radius for a slightly rounded square look */
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);

}

.level-button:hover {
    transform:  scale(1.1);
    background: #91e16a;
}

#back-button 
 {
    cursor: pointer;
    margin-top: 180px;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px 45px; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: rgb(0, 0, 0);
    background: #b5ecfe;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}



#back-button:hover {
    transform: skewX(-15deg) scale(1.2);
}
