body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.menu-container {
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
.menu-buttons .icon-button {
    display: flex;
    align-items: center;
}

.menu-buttons .icon-button i {
    margin-right: 15px; /* Adjust the margin as needed */
	margin-left: 15px;
}


.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons button {
	width: 150px;
	height: 70px;
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	background: linear-gradient(45deg, transparent 5%, gray 5%);
	border: 0;
	color: #fff;
	letter-spacing: 3px;
	box-shadow: 6px 0px 0px wheat;
	padding: 0%;
	margin: 25px;
	cursor: pointer;
}

.menu-buttons button:hover {
	background: linear-gradient(45deg, transparent 5%, #00b33c 5%);


}



.switch-holder {
    display: flex;
    padding: 10px ;
    border-radius: 10px;
	border: #555 solid 1px;
	box-shadow: 	
	inset 8px 8px 15px rgba(110, 110, 110, 0.7),
	inset 10px 10px 10px rgba(0,0,0, .3);
    justify-content: space-between;
    align-items: center;
	width: 100px;
	height: 20px;
	position: fixed; 
    bottom: 0; 
    right: 0;
    margin-bottom: 20px; 
	margin-right: 20px; 
	
}

.switch-label {
font-size: 13px;
}



.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
	margin-top: 8px;
    border-radius: 20px;
    cursor: pointer;
	box-shadow: 	
	inset 8px 8px 15px rgba(184, 184, 184, 0.7),
	inset 10px 10px 10px rgba(0,0,0, .3);
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: '';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #d1dad3;

    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 45%;
    content: '';
    background-color: #00b33c;

}

